/* region common */
:root{
    --discord-primary: #1e90ff;
    --discord-sencondary: #ffc0cb;
    --discord-light: #ffffff;
    --discord-gray: #d3d3d3;
    --discord-background-header: #add8e6;
    --discord-header: #daa520;
    --discord-background-blue: #00008b;
    --discord-corpe-pink-dark: #ee82ee;
    --discord-corpe-green: #228b22;
    --discord-footer-column-teal: #20b2aa;
    --discord-footer-colum-pink: #f08080;
    --discord-background-footer: #23272a;
    --discord-footer-footer-item: #ffb6c1;
    --discord-background-footer-footer: #7fffd4;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* end region common */

/* region utilies */
.footer-color{
    background-color: var(--discord-background-footer);
}
.corpe-main{
    height: 600px;
}
.first{
    background-color: var(--discord-light);
}
.second{
    background-color: var(--discord-gray);
}
.border{
    border: 2px dotted black; 
}

.flex-container{
    display: flex;
    justify-content: center;
    align-items: center;
}    

/*  end region utilies */


/* region header */

#site-header{
    background-color: var(--discord-background-header);
    padding: 20px 0;
    height: 80px;
    width: 100%;
}

.flex-container-header{
    margin:auto;
    display: flex;
    width: 1200px;
    border: 1px dotted black;
    height: 40px;
}
.element{
    flex-grow: 1;
    background-color: #daa520;
    height: 40px;
    padding: 10px 10px;
}
.login{
    text-align: right;
}
.link{
    flex-grow: 3;
    text-align: center;
}
/* end region header */

/* region main */

/* main head */
.head-main{
    background-color: var(--discord-background-blue);
    height: 500px;
}
.item-central{
    width: 900px;
    height: 400px;
    background-color: var(--discord-corpe-pink-dark);
}
/* end main head */

/* main cental */
.item-higher{
    background-color: var(--discord-primary);
    height: 500px;
    width: 720px;
}
.item-smaller{
    background-color: var(--discord-sencondary);
    height: 500px;
    width: 480px;
}
/* end main cental */

/* main final */
.end-main{
    height: 1000px;
}
.item-end-main{
    width: 1200px;
    height: 900px;
    background-color: var(--discord-corpe-green);
}
/* end main final */

/* end region main */

/* region footer */

/* head footer */
.head-footer{
    height: 630px ;
    margin-bottom: 2px;
}
.footer-small{
    background-color: var(--discord-footer-column-teal);
    width: 210px;
    height: 580px;
    border-color: white;
}
.footer-big{
    background-color: var(--discord-footer-colum-pink);
    width: 360px;
    height: 580px;
}
/* end head footer */

/*  final footer */
.final-footer{
    height: 110px;
    padding-top: 30px;
}
#footer-end{
    background-color: var(--discord-background-footer-footer);
    width: 1200px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.element-footer{
    height: 40px;
    background-color: var(--discord-footer-footer-item);
    padding: 10px;
}
/* end final footer */

/* end region footer */